In [38]:
import pandas as pd
data = pd.read_csv('./data/all_data(yes_star).csv', encoding='utf-8')
data

,Unnamed: 0,Q1A1,Q1A2,Q2A11,Q2A12,Q2A2,Q2A3,Q3,Q4A1,Q4A2,...,ADQ4,ADQ5,ADQ6,ADQ7,ADQ8,ADQ9,ADQ101,ADQ102,ADQ103,new_y
0,0,1,2,1,0.0,2,2,1,1,1,...,3,1,1,1,1,4,10,1,1,1.0
1,1,1,2,1,0.0,2,2,1,2,2,...,2,1,1,1,1,4,15,2,2,2.0
2,2,1,1,1,0.0,1,2,1,3,3,...,3,1,1,3,2,4,*,1,1,2.0
3,3,2,1,1,0.0,2,2,1,2,2,...,3,1,2,1,2,8,11,2,2,1.0
4,4,1,1,1,0.0,2,2,1,3,3,...,4,1,2,2,2,7,12,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8440,8440,1,1,1,0.0,1,2,1,3,4,...,4,1,1,2,2,10,4,1,1,4.0
8441,8441,1,2,1,0.0,2,2,1,4,4,...,3,1,1,1,2,11,4,1,1,4.0
8442,8442,1,2,1,0.0,2,2,1,1,1,...,4,1,1,3,2,10,4,1,1,4.0
8443,8443,1,1,1,0.0,1,2,1,3,3,...,4,1,2,2,2,7,4,1,1,4.0
8444,8444,1,1,1,0.0,1,1,1,4,3,...,1,1,2,2,2,3,4,1,1,4.0

In [39]:
# * 제거
lst = []

for j in range(0,data.shape[1]):
    for i in range(0,data.shape[0]):
        if data.iloc[i,j] == "*":
            if i not in lst: # 중복값 제거
                lst.append(i)    
                
for i in lst:
    data = data.drop(i,axis = 0)
data.reset_index(drop=True,inplace=True)

In [41]:
data.to_csv('./data/all_data(no_star).csv')

In [67]:
data = pd.read_csv('./data/all_data(no_star).csv', encoding='utf-8')

In [68]:
#1년간_교육
teaching_list = []
for i in range(len(data)):
    if data['Q8A4'][i] in [3,4] or data['Q8B4'][i] in [3,4]:
        teaching_list.append(1) #있다
    else:
        teaching_list.append(0)

data = data.drop(columns = ['Q8A4','Q8B4'])
data['1년간_교육'] = teaching_list

data['1년간_교육'].unique(), data['1년간_교육'].shape

(array([0, 1], dtype=int64), (8069,))

In [69]:
#pc,노트북
pc = []
for i in range(len(data)):
    if data['Q1A1'][i] == 1 or data['Q1A2'][i] == 1:
        pc.append(1) #있다
    else:
        pc.append(0)

data = data.drop(columns = ['Q1A1','Q1A2'])
data['pc,노트북'] = pc

data['pc,노트북'].unique(), data['pc,노트북'].shape

(array([1, 0], dtype=int64), (8069,))

In [70]:
#휴대폰_보유
phone = []
for i in range(len(data)):
    if data['Q2A11'][i] == 2 or data['Q2A12'][i] == 2:
        phone.append(1) #있다
    else:
        phone.append(0)

# data = data.drop(columns = ['Q2A11','Q2A12'])
data['휴대폰_보유'] = phone

data['휴대폰_보유'].unique(), data['휴대폰_보유'].shape

(array([0, 1], dtype=int64), (8069,))

In [71]:
#스마트폰_보유
smart_phone = []
for i in range(len(data)):
    if data['Q2A11'][i] == 1 or data['Q2A12'][i] == 1 or data['Q2A2'][i] == 1:
        smart_phone.append(1) #있다
    else:
        smart_phone.append(0)

# data = data.drop(columns = ['Q2A11','Q2A12'])
data['스마트폰_보유'] = smart_phone

data['스마트폰_보유'].unique(), data['스마트폰_보유'].shape

(array([1, 0], dtype=int64), (8069,))

In [72]:
#뉴스_날씨
news = []
for i in range(len(data)):
    if data['Q8A1'][i] in [3,4] or data['Q8B1'][i] in [3,4]:
        news.append(1) #있다
    else:
        news.append(0)

data = data.drop(columns = ['Q8A1','Q8B1'])
data['뉴스_날씨'] = news

data['뉴스_날씨'].unique(), data['뉴스_날씨'].shape

(array([0, 1], dtype=int64), (8069,))

In [73]:
#미디어_이용여부
lst = []
for i in range(len(data)):
    if data['Q8A3'][i] in [3,4] or data['Q8B3'][i] in [3,4]:
        lst.append(1) #있다
    else:
        lst.append(0)

data = data.drop(columns = ['Q8A3','Q8B3'])
data['미디어_이용여부'] = lst

data['미디어_이용여부'].unique(), data['미디어_이용여부'].shape

(array([0, 1], dtype=int64), (8069,))

In [74]:
#SNS_이용여부
lst = []
for i in range(len(data)):
    if data['Q9A1'][i] in [3,4] or data['Q9B1'][i] in [3,4]:
        lst.append(1) #있다
    else:
        lst.append(0)

data = data.drop(columns = ['Q9A1','Q9B1'])
data['SNS_이용여부'] = lst

data['SNS_이용여부'].unique(), data['SNS_이용여부'].shape

(array([0, 1], dtype=int64), (8069,))

In [75]:
# 날린거
# lst = []
# for i in range(len(data)):
#     if data['Q10A2'][i] in [3,4] or data['Q10B2'][i] in [3,4]:
#         lst.append(1) #있다
#     else:
#         lst.append(0)

# data = data.drop(columns = ['Q10A2','Q10B2'])
# data['전자상거래_이용여부'] = lst

# data['전자상거래_이용여부'].unique(), data['전자상거래_이용여부'].shape

In [76]:
#애플리케이션설치_여부
lst = []
for i in range(len(data)):
    if data['Q5A5'][i] in [3,4]:
        lst.append(1) #있다
    else:
        lst.append(0)

data = data.drop(columns = 'Q5A5')
data['애플리케이션설치_여부'] = lst

data['애플리케이션설치_여부'].unique(), data['애플리케이션설치_여부'].shape

(array([0, 1], dtype=int64), (8069,))

In [77]:
#날린거
# def jonjae(num):
#     lst = []
#     for i in range(len(data)):
#         for j in range(1,9):
#             value = 'ADQA%d' % j
#             if data[value] == num:
#                 lst.append(1)
#             else:
#                 lst.append(0)
#     return lst

# data['형제_존재'] = jonjae(2)
# data['동거자녀_존재'] = jonjae(3)
# data['부모_존재'] = jonjae(4)
# data['배우자_존재'] = jonjae(1)

In [78]:
data.to_csv('./data/')

,Unnamed: 0,Unnamed: 0.1,Q2A11,Q2A12,Q2A2,Q2A3,Q3,Q4A1,Q4A2,Q4A3,...,ADQ103,new_y,1년간_교육,"pc,노트북",휴대폰_보유,스마트폰_보유,뉴스_날씨,미디어_이용여부,SNS_이용여부,애플리케이션설치_여부
0,0,0,1,0.0,2,2,1,1,1,1,...,1,1.0,0,1,0,1,0,0,0,0
1,1,1,1,0.0,2,2,1,2,2,2,...,2,2.0,0,1,0,1,1,0,0,1
2,2,3,1,0.0,2,2,1,2,2,1,...,2,1.0,0,1,0,1,0,0,0,1
3,3,4,1,0.0,2,2,1,3,3,2,...,1,1.0,0,1,0,1,0,0,0,1
4,4,5,1,0.0,2,2,1,2,3,3,...,1,2.0,0,1,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8064,8064,8440,1,0.0,1,2,1,3,4,4,...,1,4.0,1,1,0,1,1,1,1,1
8065,8065,8441,1,0.0,2,2,1,4,4,3,...,1,4.0,1,1,0,1,1,1,1,1
8066,8066,8442,1,0.0,2,2,1,1,1,1,...,1,4.0,1,1,0,1,1,1,1,0
8067,8067,8443,1,0.0,1,2,1,3,3,4,...,1,4.0,1,1,0,1,1,1,1,1
8068,8068,8444,1,0.0,1,1,1,4,3,4,...,1,4.0,1,1,0,1,1,1,1,1