In [80]:
import pickle 
import pandas  as pd
import joblib
with open('./data/model1.pickle', 'rb') as f: 
    model = pickle.load(f)
    
# with open('RF.pickle', 'rb') as f: 
#     model = pickle.load(f)
with open('svm.pickle', 'rb') as f: 
    svm = pickle.load(f)
    
    
# model = joblib.load('RandomForest_64.pkl')

df = pd.read_csv('./data/노인실태조사_전처리_final5.csv', encoding = 'utf-8')
# df_gu = pd.read_csv('./data/노인실태조사_구.csv')

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.24.1 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 0.24.1 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [81]:
df.columns

Index(['Unnamed: 0', '연령', '시_1_군_0', '동_1_읍면_0', '성별', '직업', '최종학력', '장애판정',
       '가구월평균소득', '광역시도_경기도', '광역시도_경상도', '광역시도_광주', '광역시도_대구', '광역시도_대전',
       '광역시도_부산', '광역시도_서울', '광역시도_세종', '광역시도_울산', '광역시도_인천', '광역시도_전라도',
       '광역시도_제주도', '광역시도_충청도', '가구거주형태_1', '가구거주형태_2', '형제자매_존재', '부모_존재',
       '배우자_존재', '동거자녀_존재', '디지털 기기 접근성', '디지털 기기 활용성', '만족도'],
      dtype='object')

In [82]:
columns=['연령', '최종학력', '디지털 기기 접근성', '디지털 기기 활용성', '만족도']
df_1 =df[columns]

predict = model.predict(df_1)
predict

array([2, 2, 2, 1, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1], dtype=int64)

In [83]:
df_1['결과'] = predict

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [84]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.bar(x= df_gu['구'], y = df_1['결과'])

TypeError: bar() missing 1 required positional argument: 'height'

In [85]:
result = pd.DataFrame()
result['구'] = df_gu['구']
result['결과'] = df_1['결과']
result.to_csv('./data/분류결과.csv')

In [78]:
result.to_csv('')

           연령  최종학력  디지털 기기 접근성  디지털 기기 활용성       만족도
0   73.000000     2    1.500000    1.357143  9.142857
1   73.849057     1    1.097561    1.121951  8.993902
2   69.818182     1    1.233333    1.466667  8.550000
3   73.551724     3    1.096154    1.346154  9.610577
4   74.360000     3    1.173913    0.739130  9.250000
5   73.037037     1    1.020408    0.857143  9.357143
6   72.333333     1    1.254902    1.490196  8.823529
7   71.325581     1    1.195122    1.560976  8.701220
8   73.753846     1    1.107143    0.857143  9.638393
9   73.862069     3    1.000000    0.619048  9.392857
10  70.048780     1    1.341463    1.390244  8.573171
11  70.250000     2    1.209302    1.744186  8.813953
12  73.382353     1    1.218750    0.968750  9.250000
13  73.083333     1    1.200000    1.200000  9.250000
14  72.513158     3    1.206349    1.158730  9.142857
15  74.064935     3    1.161765    1.000000  9.205882

In [46]:
result['결과'].value_counts()

2    11
1     5
Name: 결과, dtype: int64

In [ ]:
result.plot(kind='barh', figsize = (10,6), stacked= True, alpha = 0.7)
plt.xlabel('구', size = 15)
plt.xlabel('', size = 15)