In [3]:
import pandas as pd

df = pd.read_csv("./data/2020_노인실태조사_부산.csv",encoding="EUC-KR")

In [4]:
columns = ["gu", "B1", "C10", "D5", "D12_1_3", "D12_1_1", "D12_1_2", "D13_3", "D13_5", "D13_8","D13_9", "D13_11", "E1", "EDM", "F13", "G1_1", "G3_1", "G4_1", "H16_2", "H16_1", "H16_5", "H16_7", "J3b_3_13","Q1", "RES_SEX", "RES_EDU1"]
df = df[columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716 entries, 0 to 715
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gu        716 non-null    object
 1   B1        716 non-null    int64
 2   C10       716 non-null    int64
 3   D5        716 non-null    int64
 4   D12_1_3   716 non-null    int64
 5   D12_1_1   716 non-null    int64
 6   D12_1_2   716 non-null    int64
 7   D13_3     716 non-null    int64
 8   D13_5     716 non-null    int64
 9   D13_8     716 non-null    int64
 10  D13_9     716 non-null    int64
 11  D13_11    716 non-null    int64
 12  E1        716 non-null    int64
 13  EDM       716 non-null    int64
 14  F13       716 non-null    int64
 15  G1_1      716 non-null    int64
 16  G3_1      716 non-null    int64
 17  G4_1      716 non-null    int64
 18  H16_2     716 non-null    int64
 19  H16_1     716 non-null    int64
 20  H16_5     716 non-null    int64
 21  H16_7     716 non-null    int64
 22  J3b_3_13  716 non-null    int64
 23  Q1        716 non-null    int64
 24  RES_SEX   716 non-null    int64
 25  RES_EDU1  716 non-null    int64
dtypes: int64(25), object(1)
memory usage: 145.6+ KB

In [6]:
# B1 
df = df[df["B1"] != 9]
df.reset_index(drop=True,inplace=True)
df["B1"].value_counts()

2    315
3    220
4    144
5     20
1     16
Name: B1, dtype: int64

In [7]:
# D13_3
df = df[df["D13_3"] != 9]
df.reset_index(drop=True,inplace=True)
df["D13_3"].value_counts()

1    347
2    288
Name: D13_3, dtype: int64

In [8]:
# D13_3
df["C10"] = df["C10"].apply(lambda x: 1 if x==1 else 0)
df["D5"] = df["D5"].apply(lambda x: 1 if x==1 else 0)
df["D12_1_3"] = df["D12_1_3"].apply(lambda x: 1 if x==1 else 0)
df["D12_1_1"] = df["D12_1_1"].apply(lambda x: 1 if x==1 else 0)
df["D12_1_2"] = df["D12_1_2"].apply(lambda x: 1 if x==1 else 0)
df["D13_3"] = df["D13_3"].apply(lambda x: 1 if x==1 else 0)
df["D13_5"] = df["D13_5"].apply(lambda x: 1 if x==1 else 0)
df["D13_8"] = df["D13_8"].apply(lambda x: 1 if x==1 else 0)
df["D13_9"] = df["D13_9"].apply(lambda x: 1 if x==1 else 0)
df["D13_11"] = df["D13_11"].apply(lambda x: 1 if x==1 else 0)
df["F13"] = df["F13"].apply(lambda x: 1 if x==1 else 0)
df["G1_1"] = df["G1_1"].apply(lambda x: 1 if x==1 else 0)
df["G3_1"] = df["G3_1"].apply(lambda x: 1 if x==1 else 0)
df["G4_1"] = df["G4_1"].apply(lambda x: 1 if x==1 else 0)
df["RES_SEX"] = df["RES_SEX"].apply(lambda x: 1 if x==1 else 0)

In [9]:
from sklearn.preprocessing import MinMaxScaler

scalar = MinMaxScaler(feature_range =(1, 4))
df["B1"] = scalar.fit_transform(df["B1"].to_numpy().reshape(-1,1))
df["H16_2"] = scalar.fit_transform(df["H16_2"].to_numpy().reshape(-1,1))
df["H16_1"] = scalar.fit_transform(df["H16_1"].to_numpy().reshape(-1,1))
df["H16_5"] = scalar.fit_transform(df["H16_5"].to_numpy().reshape(-1,1))
df["H16_7"] = scalar.fit_transform(df["H16_7"].to_numpy().reshape(-1,1))

In [10]:
# J3b_3_13
df = df[(df["J3b_3_13"] != 999998) | (df["J3b_3_13"] != 999999)]
df.reset_index(drop=True,inplace=True)

In [11]:
lst = []

for i in df["E1"]:
    if i == 1:
        lst.append(1)
    elif i in (2, 3) :
        lst.append(0)
        
df["E1"] = lst
df["E1"].value_counts()

0    460
1    175
Name: E1, dtype: int64

In [12]:
df = df[df["RES_EDU1"] != 9]
df.reset_index(drop=True,inplace=True)

lst = []

for i in df["RES_EDU1"]:
    if i in (0,1,2,3):
        lst.append(1)
    elif i == 4 :
        lst.append(2)
    elif i == 5 :
        lst.append(3)
    else:
        lst.append(4)
        
df["RES_EDU1"] = lst
df["RES_EDU1"].value_counts()

1    237
3    202
2    162
4     34
Name: RES_EDU1, dtype: int64

In [13]:
df['RES_EDU1'].value_counts()

1    237
3    202
2    162
4     34
Name: RES_EDU1, dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 635 entries, 0 to 634
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gu        635 non-null    object
 1   B1        635 non-null    float64
 2   C10       635 non-null    int64
 3   D5        635 non-null    int64
 4   D12_1_3   635 non-null    int64
 5   D12_1_1   635 non-null    int64
 6   D12_1_2   635 non-null    int64
 7   D13_3     635 non-null    int64
 8   D13_5     635 non-null    int64
 9   D13_8     635 non-null    int64
 10  D13_9     635 non-null    int64
 11  D13_11    635 non-null    int64
 12  E1        635 non-null    int64
 13  EDM       635 non-null    int64
 14  F13       635 non-null    int64
 15  G1_1      635 non-null    int64
 16  G3_1      635 non-null    int64
 17  G4_1      635 non-null    int64
 18  H16_2     635 non-null    float64
 19  H16_1     635 non-null    float64
 20  H16_5     635 non-null    float64
 21  H16_7     635 non-null    float64
 22  J3b_3_13  635 non-null    int64
 23  Q1        635 non-null    int64
 24  RES_SEX   635 non-null    int64
 25  RES_EDU1  635 non-null    int64
dtypes: float64(5), int64(20), object(1)
memory usage: 129.1+ KB

In [15]:
from scipy.stats import mode

gu=df['gu'].unique()
Q1 = []
for i in gu:
    mode = df[df['gu'] == i]['Q1'].mode()
    if len(mode)>= 2:
        c = [x for x in mode]
        Q1.append(c)
        continue
    Q1.append(mode[0])
Q1

[2, [1, 3], 2, 2, 2, 2, 2, 2, 2, 2, [1, 2], [1, 2], 2, 2, 2, 2]

In [16]:
gu=df['gu'].unique()
RES_EDU1 = []
for i in gu:
    mode = df[df['gu'] == i]['RES_EDU1'].mode()
    if len(mode)>= 2:
        c = [x for x in mode]
        RES_EDU1.append(c)
        continue
    RES_EDU1.append(mode[0])
RES_EDU1

[2, 1, 1, 3, 3, 1, 1, 1, 1, 3, 1, [2, 3], 1, 1, 3, 3]

In [17]:
# 최빈값
columns = ["gu","C10", "D5", "D12_1_3", "D12_1_1", "D12_1_2", "D13_3", "D13_5", "D13_8", "D13_11", "E1", "EDM", "F13", "G1_1", "G3_1", "G4_1","Q1", "RES_SEX", "RES_EDU1"]
df_group = df[columns].groupby("gu")
df_group_1 = df_group.agg(lambda x:x.mode())
df_group_1

,C10,D5,D12_1_3,D12_1_1,D12_1_2,D13_3,D13_5,D13_8,D13_11,E1,EDM,F13,G1_1,G3_1,G4_1,RES_SEX
gu,,,,,,,,,,,,,,,,
강서구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0
금정구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0
기장군,0,0,0,0,1,1,0,0,0,0,1,1,1,0,1,0
남구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0
동구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0
동래구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,1
북구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0
사상구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0
사하구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0
서구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0
수영구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0
연제구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0
영도구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0
중구,0,0,0,0,1,"[0, 1]",0,0,0,"[0, 1]",1,1,0,0,1,"[0, 1]"
진구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0
해운대구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0

In [18]:
df_group_1['RES_EDU1'] =RES_EDU1
df_group_1['Q1'] =Q1
df_group_1

,C10,D5,D12_1_3,D12_1_1,D12_1_2,D13_3,D13_5,D13_8,D13_11,E1,EDM,F13,G1_1,G3_1,G4_1,RES_SEX,RES_EDU1,Q1
gu,,,,,,,,,,,,,,,,,,
강서구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0,2,2
금정구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,1,"[1, 3]"
기장군,0,0,0,0,1,1,0,0,0,0,1,1,1,0,1,0,1,2
남구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0,3,2
동구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,3,2
동래구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,1,1,2
북구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0,1,2
사상구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,0,0,1,2
사하구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,1,2
서구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,3,2
수영구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0,1,"[1, 2]"
연제구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0,"[2, 3]","[1, 2]"
영도구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,1,2
중구,0,0,0,0,1,"[0, 1]",0,0,0,"[0, 1]",1,1,0,0,1,"[0, 1]",1,2
진구,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0,3,2
해운대구,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,3,2

In [19]:
# 평균
columns = ["gu", "J3b_3_13", "B1", "H16_2", "H16_1", "H16_5", "H16_7" ]
df_group = df[columns].groupby("gu")
df_group_2 = df_group.agg('mean')
df_group_2

         J3b_3_13        B1     H16_2     H16_1     H16_5     H16_7
gu
강서구   4168.500000  2.285714  2.392857  2.178571  2.392857  2.178571
금정구   2260.024390  2.207317  2.390244  2.189024  2.225610  2.189024
기장군   5213.466667  2.200000  2.250000  2.200000  1.975000  2.125000
남구    2157.769231  2.326923  2.528846  2.240385  2.514423  2.326923
동구    4450.130435  2.369565  2.369565  2.402174  2.369565  2.108696
동래구   2466.224490  2.469388  2.392857  2.331633  2.423469  2.209184
북구    2609.725490  2.279412  2.352941  2.132353  2.161765  2.176471
사상구   3232.926829  2.115854  2.317073  2.115854  2.115854  2.152439
사하구   1988.910714  2.500000  2.647321  2.433036  2.272321  2.285714
서구    2920.571429  2.178571  2.500000  2.285714  2.428571  2.178571
수영구   2788.341463  2.335366  2.243902  2.225610  2.060976  2.042683
연제구   3670.372093  2.168605  2.238372  2.116279  2.325581  2.133721
영도구   2077.125000  2.171875  2.382812  2.195312  2.406250  2.265625
중구    2561.000000  2.125000  2.425000  2.125000  2.575000  2.125000
진구    2367.952381  2.250000  2.357143  2.142857  2.404762  2.238095
해운대구  2941.117647  2.301471  2.433824  2.191176  2.345588  2.235294

In [20]:
columns = ["B1", "H16_2", "H16_1", "H16_5", "H16_7" ]
df_group_3 = round(df_group_2[columns])

lst = []

for i in df_group_2["J3b_3_13"]/12:
    if i < 50:
        lst.append(1)
    elif 50 <= i < 100:
        lst.append(2)
    elif 100 <= i < 150:
        lst.append(3)
    elif 150 <= i < 200:
        lst.append(4)
    elif 200 <= i < 250:
        lst.append(5)
    elif 250 <= i < 300:
        lst.append(6)
    elif 300 <= i < 350:
        lst.append(7)
    elif 350 <= i < 400:
        lst.append(8)
    elif 400 <= i < 500:
        lst.append(9)
    elif 500 <= i < 600:
        lst.append(10)
    else:
        lst.append(11)
        
df_group_3["J3b_3_13"] = lst
df_group_3

       B1  H16_2  H16_1  H16_5  H16_7  J3b_3_13
gu
강서구   2.0    2.0    2.0    2.0    2.0         7
금정구   2.0    2.0    2.0    2.0    2.0         4
기장군   2.0    2.0    2.0    2.0    2.0         9
남구    2.0    3.0    2.0    3.0    2.0         4
동구    2.0    2.0    2.0    2.0    2.0         8
동래구   2.0    2.0    2.0    2.0    2.0         5
북구    2.0    2.0    2.0    2.0    2.0         5
사상구   2.0    2.0    2.0    2.0    2.0         6
사하구   2.0    3.0    2.0    2.0    2.0         4
서구    2.0    2.0    2.0    2.0    2.0         5
수영구   2.0    2.0    2.0    2.0    2.0         5
연제구   2.0    2.0    2.0    2.0    2.0         7
영도구   2.0    2.0    2.0    2.0    2.0         4
중구    2.0    2.0    2.0    3.0    2.0         5
진구    2.0    2.0    2.0    2.0    2.0         4
해운대구  2.0    2.0    2.0    2.0    2.0         5

In [21]:
df = pd.concat([df_group_1, df_group_3], axis = 1)
df = df.reset_index()
df.head()

,gu,C10,D5,D12_1_3,D12_1_1,D12_1_2,D13_3,D13_5,D13_8,D13_11,...,G4_1,RES_SEX,RES_EDU1,Q1,B1,H16_2,H16_1,H16_5,H16_7,J3b_3_13
0,강서구,0,0,0,0,1,1,0,0,0,...,1,0,2,2,2.0,2.0,2.0,2.0,2.0,7
1,금정구,0,0,0,0,1,0,0,0,0,...,1,0,1,"[1, 3]",2.0,2.0,2.0,2.0,2.0,4
2,기장군,0,0,0,0,1,1,0,0,0,...,1,0,1,2,2.0,2.0,2.0,2.0,2.0,9
3,남구,0,0,0,0,1,1,0,0,0,...,1,0,3,2,2.0,3.0,2.0,3.0,2.0,4
4,동구,0,0,0,0,1,0,0,0,0,...,1,0,3,2,2.0,2.0,2.0,2.0,2.0,8

In [22]:
df.rename( columns = { "gu" : '구',"C10" : '장애판정', "D5" : '온라인_교육_여부', "D12_1_3" : 'pc_노트북_보유', "D12_1_1" : '피처폰_보유', "D12_1_2" : '스마트폰_태블릿PC_보유', "D13_3" : '뉴스_날씨', "D13_5" : '미디어콘텐츠', "D13_8" : 'SNS', "D13_11" : '앱 검색 및 설치', "E1" : '직업', "EDM" : '동_1_읍면_0', "F13" : '형제자매_존재', "G1_1" : '동거자녀_존재', "G3_1" : '부모_존재', "G4_1" : '배우자_존재',"Q1" : '가구거주형태', "RES_SEX" : '성별', "RES_EDU1" : '최종학력', "J3b_3_13" : '가구월평균소득', "B1" : '건강상태', "H16_2" : '경제적_만족도', "H16_1":'건강상태_만족도', "H16_5" : '여가문화생활_만족도', "H16_7" :'전반적인삶_만족도' },inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   구              16 non-null     object
 1   장애판정           16 non-null     int64
 2   온라인_교육_여부      16 non-null     int64
 3   pc_노트북_보유      16 non-null     int64
 4   피처폰_보유         16 non-null     int64
 5   스마트폰_태블릿PC_보유  16 non-null     int64
 6   뉴스_날씨          16 non-null     object
 7   미디어콘텐츠         16 non-null     int64
 8   SNS            16 non-null     int64
 9   앱 검색 및 설치      16 non-null     int64
 10  직업             16 non-null     object
 11  동_1_읍면_0       16 non-null     int64
 12  형제자매_존재        16 non-null     int64
 13  동거자녀_존재        16 non-null     int64
 14  부모_존재          16 non-null     int64
 15  배우자_존재         16 non-null     int64
 16  성별             16 non-null     object
 17  최종학력           16 non-null     object
 18  가구거주형태         16 non-null     object
 19  건강상태           16 non-null     float64
 20  경제적_만족도        16 non-null     float64
 21  건강상태_만족도       16 non-null     float64
 22  여가문화생활_만족도     16 non-null     float64
 23  전반적인삶_만족도      16 non-null     float64
 24  가구월평균소득        16 non-null     int64
dtypes: float64(5), int64(14), object(6)
memory usage: 3.2+ KB

In [26]:
df_2 = pd.read_table("./data/구별 나이 평균.txt", header = None )
df_2.columns = ['구', '연령']
df_2.head()

     구         연령
0  강서구  73.000000
1  금정구  73.849057
2  기장군  69.818182
3   남구  73.551724
4   동구  74.360000

In [27]:
df_merge = pd.merge(df,df_2, on = "구")

In [28]:
df_merge

,구,장애판정,온라인_교육_여부,pc_노트북_보유,피처폰_보유,스마트폰_태블릿PC_보유,뉴스_날씨,미디어콘텐츠,SNS,앱 검색 및 설치,...,성별,최종학력,가구거주형태,건강상태,경제적_만족도,건강상태_만족도,여가문화생활_만족도,전반적인삶_만족도,가구월평균소득,연령
0,강서구,0,0,0,0,1,1,0,0,0,...,0,2,2,2.0,2.0,2.0,2.0,2.0,7,73.000000
1,금정구,0,0,0,0,1,0,0,0,0,...,0,1,"[1, 3]",2.0,2.0,2.0,2.0,2.0,4,73.849057
2,기장군,0,0,0,0,1,1,0,0,0,...,0,1,2,2.0,2.0,2.0,2.0,2.0,9,69.818182
3,남구,0,0,0,0,1,1,0,0,0,...,0,3,2,2.0,3.0,2.0,3.0,2.0,4,73.551724
4,동구,0,0,0,0,1,0,0,0,0,...,0,3,2,2.0,2.0,2.0,2.0,2.0,8,74.360000
5,동래구,0,0,0,0,1,0,0,0,0,...,1,1,2,2.0,2.0,2.0,2.0,2.0,5,73.037037
6,북구,0,0,0,0,1,1,0,0,0,...,0,1,2,2.0,2.0,2.0,2.0,2.0,5,72.333333
7,사상구,0,0,0,0,1,1,0,0,0,...,0,1,2,2.0,2.0,2.0,2.0,2.0,6,71.325581
8,사하구,0,0,0,0,1,0,0,0,0,...,0,1,2,2.0,3.0,2.0,2.0,2.0,4,73.753846
9,서구,0,0,0,0,1,0,0,0,0,...,0,3,2,2.0,2.0,2.0,2.0,2.0,5,73.862069
10,수영구,0,0,0,0,1,1,0,0,0,...,0,1,"[1, 2]",2.0,2.0,2.0,2.0,2.0,5,70.048780
11,연제구,0,0,0,0,1,1,0,0,0,...,0,"[2, 3]","[1, 2]",2.0,2.0,2.0,2.0,2.0,7,70.250000
12,영도구,0,0,0,0,1,0,0,0,0,...,0,1,2,2.0,2.0,2.0,2.0,2.0,4,73.382353
13,중구,0,0,0,0,1,"[0, 1]",0,0,0,...,"[0, 1]",1,2,2.0,2.0,2.0,3.0,2.0,5,73.083333
14,진구,0,0,0,0,1,1,0,0,0,...,0,3,2,2.0,2.0,2.0,2.0,2.0,4,72.513158
15,해운대구,0,0,0,0,1,0,0,0,0,...,0,3,2,2.0,2.0,2.0,2.0,2.0,5,74.064935

In [29]:
df_merge.to_csv('./data/노인실태조사_전처리.csv',encoding = 'euc-kr')

In [31]:
data.columns
data = df_merge.copy()

NameError: name 'data' is not defined

In [73]:
pre_dt = pd.DataFrame()
col = ['연령', '시_1_군_0', '동_1_읍면_0', '성별', '직업', '최종학력', '장애판정', '가구월평균소득',
       '광역시도_경기도', '광역시도_경상도', '광역시도_광주', '광역시도_대구', '광역시도_대전',
       '광역시도_부산', '광역시도_서울', '광역시도_세종', '광역시도_울산', '광역시도_인천', '광역시도_전라도',
       '광역시도_제주도', '광역시도_충청도', '가구거주형태_1', '가구거주형태_2', '가구거주형태_3', 
       '형제자매_존재', '부모_존재', '배우자_존재', '동거자녀_존재',  '디지털 기기 접근성',
       '디지털 기기 활용성', '만족도']
pre_dt['연령'] = data['연령']
pre_dt['시_1_군_0'] =[1] * len(data)
pre_dt['동_1_읍면_0'] = data['동_1_읍면_0']
pre_dt['성별'] = data['성별']
pre_dt['직업'] = data['직업']
pre_dt['최종학력'] = data['최종학력']
pre_dt['장애판정'] = data['장애판정']
pre_dt['가구월평균소득'] = data['가구월평균소득']
pre_dt['광역시도_경기도'] = [0] *len(data)
pre_dt['광역시도_경상도'] = [0] *len(data)
pre_dt['광역시도_광주'] = [0] *len(data)
pre_dt['광역시도_대구'] = [0] *len(data)
pre_dt['광역시도_대전'] = [0] *len(data)
pre_dt['광역시도_부산'] = [0] *len(data)
pre_dt['광역시도_서울'] = [0] *len(data)
pre_dt['광역시도_세종'] = [0] *len(data)
pre_dt['광역시도_울산'] = [0] *len(data)
pre_dt['광역시도_인천'] = [0] *len(data)
pre_dt['광역시도_전라도'] = [0] *len(data)
pre_dt['광역시도_제주도'] = [0] *len(data)
pre_dt['광역시도_충청도'] = [0] *len(data)
pre_dt['가구거주형태'] = data['가구거주형태']
pre_dt = pd.get_dummies(pre_dt,columns = ['가구거주형태'])
pre_dt['형제자매_존재'] = data['형제자매_존재']
pre_dt['부모_존재'] = data['부모_존재']
pre_dt['배우자_존재'] = data['배우자_존재']
pre_dt['동거자녀_존재'] = data['동거자녀_존재']
pre_dt['디지털 기기 접근성'] = data['pc_노트북_보유'] + data['피처폰_보유'] + data['스마트폰_태블릿PC_보유']
pre_dt['디지털 기기 활용성'] = data['뉴스_날씨'] + data['미디어콘텐츠'] + data['SNS'] + data['앱 검색 및 설치'] +data['온라인_교육_여부']
pre_dt['만족도'] = data['여가문화생활_만족도'] + data['경제적_만족도'] +data['건강상태_만족도'] + data['전반적인삶_만족도']
pre_dt.shape

(16, 30)

In [75]:
pre_dt.to_csv('./data/노인실태조사_전처리_final.csv')

In [54]:
columns =['구','연령', '시_1_군_0', '동_1_읍면_0', '성별', '직업', '최종학력', '장애판정', '가구월평균소득',
       '광역시도_경기도', '광역시도_경상도', '광역시도_광주', '광역시도_대구', '광역시도_대전',
       '광역시도_부산', '광역시도_서울', '광역시도_세종', '광역시도_울산', '광역시도_인천', '광역시도_전라도',
       '광역시도_제주도', '광역시도_충청도', '가구거주형태_1', '가구거주형태_2', '가구거주형태_3', 
       '형제자매_존재', '부모_존재', '배우자_존재', '동거자녀_존재',  '디지털 기기 접근성',
       '디지털 기기 활용성', '만족도']